body {
font-family:'tahoma', sans-serif;
background-color: aliceblue;
color:#232b2b

}

#purple {
background-color:blueviolet;
}

#yellow {
background-color:yellow
}

#pie {
background-color:aliceblue
}