body {
font-family:'tahoma', sans-serif;
background-color: aliceblue;
color:#232b2b;

}

div {
border-radius: 10px;
border-style: double;
border-color:black;
padding:15px;
}

#badness {
background-color:blueviolet;
min-height: 0;
min-width: 0;
overflow:hidden;
overflow-y:scroll;
overflow-x:scroll;

}

#yellow {
background-color:yellow;
display:flex;
flex: 1;
flex-direction:column;
max-height:700px;
min-width:500px;

}

#pie {
background-color:aliceblue;
width:300px;
height:300px;
border-radius:50%;
background: conic-gradient(Green 0.00% 25.00%, Grey 25.00% 50.00%, Yellow 50.00% 75.00%, Red 75.00% 100.00% );
align-self:center;

}

#database{
background-color:aliceblue;
max-height:400px;
overflow-y:scroll;
}

#header {
text-align:center;
}

#container {
display:flex;
max-height:700px;
overflow:hidden;
overflow-y:scroll;
flex-wrap:wrap;
}

#right {
display:flex;
flex-direction: column;
align-self:center;
width:auto;
}

table {
vertical-align: middle;
margin-left:auto;
margin-right:auto;
border: 2px black solid;
border-collapse:collapse;
font-size:1.3em;
background-color:white;
max-height:100%;
table-layout:fixed;

}

td {
border: 1px solid black;
padding: 10px;
text-align: center;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}

th {
border: 1px solid black;
padding: 10px;
text-align: center;
background-color:azure;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;

}

tr:nth-child(even) td {
    background-color: white;
}

tr:nth-child(odd) td {
    background-color:azure;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}

.heading {
text-align:center;
margin-left:auto;
margin-right:auto;
text-decoration:underline;

}