body {
font-family:'tahoma', sans-serif;
background-color: aliceblue;
color:#232b2b;

}

div {
border-radius: 10px;
border-style: double;
border-color:black;
padding:15px;

}

#purple {
background-color:blueviolet;
}

#yellow {
background-color:yellow;
display:flex;
flex: 1;
flex-direction:column
}

#pie {
background-color:aliceblue;
}

#header {
text-align:center;
}

#container {
display:flex;
}

#right {
display:flex;
flex-direction: column;
}

table {
vertical-align: middle;
margin-left:auto;
margin-right:auto;
border: 2px black solid;
border-collapse:collapse;
font-size:1.5em;
overflow: auto;

}

td {
border: 1px solid black;
padding: 10px;
text-align: center;

}

th {
border: 1px solid black;
padding: 10px;
text-align: center;

}

tr:nth-child(even) td {
    background-color: white;
}

tr:nth-child(odd) td {
    background-color:azure;
}